html {
  font-size: 20px;
}

div {
  font-size: 70px;
}
/*P escala com div pois é seu elemento pai pelo EM*/
p {
  font-size: 1em;
}
/*Span escalando junto com o html pelo REM, pois é o root*/
span {
  font-size: 3rem;
}
